.pl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pl-texts {
    width: 65%;
}

.pl-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.pl-desc {
    margin: 20px 0px;
}

.pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



@media screen and (max-width: 1200px){
    .pl {
        margin-top: 60px;
    }

    .pl-title {
        font-size: 30px;
    }

    .pl-list {
        width: 80%;
    }
}


@media screen and (max-width: 1024px) {
    .pl-list {
        width: 80%;
    }
}

@media screen and (max-width: 821px) {
    .pl {
        padding-top: 2px;
    }
}

@media screen and (max-width: 415px) {
    .pl-title {
        margin-top: 400px;
        font-size: 25px;
    }

    .pl-list {
        width: 120%;
    }
}

@media screen and (max-width: 391px) {
    .pl-list {
        width: 150%;
    }
}

@media screen and (max-width: 376px) {
    .pl-title {
        margin-top: 420px;
        font-size: 23px;
    }

    .pl-list {
        width: 140%;
    }
}

@media screen and (max-width: 361px) {
    .pl-title {
        margin-top: 450px;
        font-size: 22px;
    }

    .pl-list {
        width: 155%;
    }
}

@media screen and (max-width: 321px) {
    .pl-title {
        margin-top: 540px;
        font-size: 25px;
    }

    .pl-texts {
        width: 100%;
    }

    .pl-list {
        width: 180%;
    }
}




