.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right {
    flex: 1;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
    border-radius: 30px;
}

.a-card {
    width: 60%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.a-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-title {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.a-sub {
    margin: 20px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}


.a-desc {
    font-weight: 300;
}

.a-award {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-texts {
    width: 70%;
}

.a-award-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}


@media screen and (max-width: 1024px){

    .a {
        height: 100%;
    }
    
    .a-left {
        display: none;
    }

    .a-title {
        font-size: 30px;
    }

    .a-sub {
        translate: calc(100vw - 880px);
        width: 650px;
        margin-top: 40px;
        line-height: 30px;
    }

    .a-sub p {
       font-size: 17px;
       letter-spacing: 1.5px;
    }
}

@media screen and (max-width: 821px){
    .a-sub {
        translate: calc(100vw - 700px);
        width: 550px;
    }

    .a-title {
        margin-top: 40px;
    } 
}

@media screen and (max-width: 713px){
    .a-sub {
        translate: calc(100vw - 640px);
        width: 75%;
    }  
}

@media screen and (max-width: 415px){
    .a-right {
        margin-top: 80px;
    }

    .a-sub {
        translate: calc(100vw - 390px);
        width: 85%;
    }  
}

@media screen and (max-width: 391px){
    .a-sub {
        translate: calc(100vw - 360px);
        width: 80%;
    }  
}

@media screen and (max-width: 376px){
    .a-sub {
        translate: calc(100vw - 350px);
        width: 80%;
    }  
}

@media screen and (max-width: 361px){
    .a-sub {
        translate: calc(100vw - 344px);
        width: 83%;
    }  
}

@media screen and (max-width: 321px){
    .a-sub {
        translate: calc(100vw - 315px);
        width: 90%;
    }  
}