.p {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}


.p-browser {
    height: 20px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.p-img {
    width: 100%;
    transition: all 10s ease;
    cursor: pointer;
}


.p:hover .p-img {
    transform: translateY(-100%);

}

@media screen and (max-width: 1024px){
    .p {
        width: 230px;
        height: 150px;
    }
}

@media screen and (max-width: 974px){
    .p {
        width: 230px;
        height: 29vh;
    } 
}

@media screen and (max-width: 962px){
    .p {
        width: 200px;
        height: 25vh;
    }
}


@media screen and (max-width: 872px){
    .p {
        width: 170px;
        height: 22vh;
    }

}

@media screen and (max-width: 821px){
    .p {
        width: 150px;
        height: 10vh;
    }
}

@media screen and (max-width: 746px){
    .p {
        width: 130px;
        height: 18vh;
    } 
}

@media screen and (max-width: 713px){
    .p {
        width: 120px;
        height: 9vh;
    } 
}

@media screen and (max-width: 618px){
    .p {
        width: 110px;
        height: 17vh;
    } 
}

@media screen and (max-width: 574px){
    .p {
        width: 100px;
        height: 16vh;
    } 
}

@media screen and (max-width: 531px){
    .p {
        width: 90px;
        height: 14vh;
    } 
}

@media screen and (max-width: 489px){
    .p {
        width: 80px;
        height: 12vh;
    } 
}


@media screen and (max-width: 446px){
    .p {
        width: 70px;
        height: 11vh;
    } 
}


@media screen and (max-width: 415px){
    .p {
        width: 250px;
        height: 31vh;
        margin-left: 20px;
    } 
}


@media screen and (max-width: 391px){
    .p {
        height: 28vh;

    } 
}

@media screen and (max-width: 376px){
    .p {
        height: 29vh;
    } 
}

@media screen and (max-width: 361px){
    .p {
        height: 28vh;
        margin-left: 10px;
    } 
}

@media screen and (max-width: 321px){
    .p {
        height: 28vh;
    } 
}
