.c {
    height: 100vh;
    position: relative;
    margin-top: 70px;
}


.c-bg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}


.c-wrapper {
    padding: 50px;
    display: flex;
}


.c-left {
    flex: 1;
    height: 0px;
}


.c-title {
    font-size: 30px;
    width: 70%;
}

.c-info a {
    color: white;
    text-decoration: none;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 40px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.c-desc {
    font-size: 30px;
}


form {
    margin-top: 20px;
}


input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}


textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}


button {
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .c {
        height: 100%;
    }

    .c-title {
        font-size: 20px;
    }

    .c-right {
        height: 100%;
    }

    .c-desc {
        font-size: 20px;
        margin-bottom: none;
    }

    input {
        height: 35px;
        width: 50%;
    }

    textarea {
        width: 300px;
    }

    .c-left {
        height: 100%;
    }

    .c-info-item {
        margin: 30px 0;
    }
}

@media screen and (max-width: 686px) {
    .c-info-item {
        font-size: 15px;
    }
}

@media screen and (max-width: 674px) {
    .c-info-item {
        font-size: 14px;
    }
}

@media screen and (max-width: 6614px) {
    .c-info-item {
        font-size: 13px;
    }
}

@media screen and (max-width: 664px) {
    .c-info-item {
        font-size: 12px;
    }

    .c-icon {
        width: 23px;
        height: 23px;
    }
}

@media screen and (max-width: 626px) {
    .c-right {
        width: 50%;
    }
}

@media screen and (max-width: 584px) {
    .c-wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
   } 

   .c-info {
     display: grid;
     grid-template-columns: 2fr 1fr;
     margin-top: 30px;
   }

    .c-info-item {
        margin: 15px 0px;
    }

    .c-title {
        text-align: center;
        width: auto;
    }

    form {
        width: 50px;
    }

    input {
        width: 30vw;
    }

    .c-desc {
        margin-top: 100px;
        margin-left: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 539px) {
    .c-desc {
        margin-left: auto;
    }
}

@media screen and (max-width: 506px) {
    .c-info {
        display: grid;
        grid-template-columns: 2fr 160px;
    }

    .c-desc {
        margin-left: auto;
    }
}


@media screen and (max-width: 480px) {
    .c-info {
        display: flex;
        flex-direction: column;
    }
   
    .c-icon {
        width: 30px;
        height: 30px;
    }

    .c-info-item {
        font-size: 16px;
    }

    form {
        width: 100px;
    }
}


@media screen and (max-width: 446px) {
    form {
        width: 140px;
    }
}


@media screen and (max-width: 405px) {
    form {
        width: 160px;
    }
}


@media screen and (max-width: 368px) {
    form {
        width: 180px;
    }
}


@media screen and (max-width: 344px) {
    form {
        margin-left: 10px;
    }
    
    textarea {
        width: 150%;
   }
}

@media screen and (max-width: 338px) {
    form {
        margin-left: 20px;
    }
    
    textarea {
        width: 130%;
   }
}

@media screen and (max-width: 310px) {
    form {
        margin-left: 30px;
    }
}

@media screen and (max-width: 295px) {
    form {
        margin-left: 40px;
    }

    textarea {
        width: 115%;
   }
}

@media screen and (max-width: 372px) {
    .c-icon {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 365px) {
    .c-info-item {
        font-size: 15px;
    }
}

@media screen and (max-width: 353px) {
    .c-info-item {
        font-size: 14px;
    }
}

@media screen and (max-width: 340px) {
   .c-info {
      width: 250px;
   }
}











