.c {
    height: 100vh;
    position: relative;
    margin-top: 70px;
}


.c-bg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
}


.c-wrapper {
    padding: 50px;
    display: flex;
}


.c-left {
    flex: 1;
    height: 0px;
}


.c-title {
    font-size: 30px;
    width: 70%;
}

.c-info a {
    color: white;
    text-decoration: none;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 40px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.c-desc {
    font-size: 30px;
}


form {
    margin-top: 20px;
}


input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}


textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}


button {
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .c {
        height: 150%;
    }

    .c-title {
        font-size: 25px;
    }

    b {
        font-size: 25px;
    }
}




