.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-desc {
    font-size: 30px;
}

.i-right {
    flex: 1;
    height: 750px;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 40px;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i-img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    position: absolute;
    top: 80px;
    right: 90px;
    border-radius: 50%;
}

@media screen and (max-width: 1200px) {
    .i-img {
        width: 330px;
        height: 330px;
        position: absolute;
        top: 125px;
        right: 140px;
    }

    .i-intro {
        font-size: 25px;
    }

    .i-left {
        margin-left: 70px;
        margin-top: 50px;
        height: 470px;
    }

    .i-name {
        font-size: 35px;
    }

    .i-title-item {
        font-size: 20px;
    }

    .i-desc {
        font-size: 22px;
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .i-img {
        width: 300px;
        height: 300px;
        position: absolute;
        right: 80px;
    }

     .i-intro {
        font-size: 20px;
    }

    .i-left-wrapper {
        height: 45%;
    }

    .i-name {
        font-size: 30px;
    }

    .i-desc {
        font-size: 20px;
        width: 70%;
    } 

}