.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-desc {
    font-size: 30px;
}

.i-right {
    flex: 1;
    height: 750px;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 40px;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i-img {
    width: 67%;
    height: 60%;
    object-fit: cover;
    position: absolute;
    top: 110px;
    right: 80px;
    border-radius: 50%;
}





@media screen and (max-width: 1200px){
    .i-right {
        height: 600px;
    }

    .i-img {
        width: 400px;
        height: 400px;
    }

    .i-name {
        font-size: 40px;
    }

    .i-desc {
        font-size: 30px;
    } 
}


@media screen and (max-width: 768px){
    .i {
        height: 450px;
    }

    .i-left-wrapper {
        height: 70%;
        margin-top: 80px;
    }

    .i-title-item {
        font-size: 20px;
    }

    
    .i-desc {
        margin-top: 10px;
    }

    .i-left {
        height: 350px;
    }

    .i-intro {
        font-size: 20px;
    }

    .i-name {
        font-size: 30px;
    }

    .i-desc {
        font-size: 20px;
    }
    
    .i-right {
        height: 100px;
    }

    .i-img {
        width: 230px;
        height: 230px;
    } 
}


@media screen and (max-width: 480px) {
    .i {
        flex-direction: column;
    }

    .i-left-wrapper {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        margin-bottom: 70px;
    }


    .i-desc {
        display: none;
    
    }


    .i-img {
        position: absolute;
        top: 0px;
        left: 100px;
        width: 270px;
        height: 270px;
    }
}


