.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-desc {
    font-size: 30px;
}

.i-right {
    flex: 1;
    height: 750px;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 40px;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.i-img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    position: absolute;
    top: 80px;
    right: 90px;
    border-radius: 50%;
}

@media screen and (max-width: 1024px){
    .i {
        height: 600px;
    }
    
    .i-left {
        height: 600px;
    }

    .i-img {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 100px;
        right: 130px;
    }

    .i-intro {
        font-size: 25px;
    }

    .i-name {
        font-size: 30px;
    }

    .i-title-item {
        font-size: 23px;
    }

    .i-desc {
        font-size: 25px;
    }
}

@media screen and (max-width: 821px){
    .i {
       height: 400px;
    }
    
    .i-left {
        height: 420px;
    }
    
    .i-left-wrapper {
        height: 230px;
    }
    
    .i-img {
        width: 250px;
        height: 250px;
        position: absolute;
        top: 90px;
        right: 80px;
    }

    .i-desc {
        font-size: 20px;
    }
}

@media screen and (max-width: 713px){
    .i-left-wrapper {
        height: 70%;
    }

    .i-img {
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width: 415px){
    .i {
        display: flex;
        flex-direction: column;
    }

    .i-left-wrapper {
        display: flex;
        align-items: center;
    }
    
    .i-desc {
        display: none;
    }

    .i-img {
        position: absolute;
        top: 12px;
        left: 95px;
    }
}

@media screen and (max-width: 391px){
    .i-img {
        position: absolute;
        top: 12px;
        left: 85px;
    }
}

@media screen and (max-width: 376px){
    .i-left-wrapper {
        display: flex;
        align-items: center;
    }

    .i-name {
        font-size: 27px;
    }

    .i-img {
        position: absolute;
        top: 9px;
        left: 77px;
    }
}

@media screen and (max-width: 361px){
    .i-img {
        position: absolute;
        top: 9px;
        left: 68px;
    }
}

@media screen and (max-width: 321px){
    .i-left-wrapper {
        display: flex;
        align-items: center;
    }

    .i-name {
        font-size: 23px;
    }

    .i-img {
        position: absolute;
        top: 9px;
        left: 51px;
    }

    .i-intro {
        font-size: 20px;
    }

    .i-title-item {
        font-size: 20px;
    }
}

